/* less */
.hamburger {
  cursor: pointer;
  padding: 0.5em;
  height: 2em;
  width: 2em;
  position: relative;
  z-index: 6;
}
.line {
  margin-top: 1em;
  height: 2px;
  width: 2em;
  background-color: black;
  position: absolute;
  top: 0;
  transition: 0 0.5s;
}
.line:nth-child(odd) {
  top: 0.5em;
  transition: 0.5s;
}
.line:nth-child(2) {
  top: 1em;
}
.menu {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  left: -50%;
  transition: 0.5s;
  z-index: -5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu .close {
  color: transparent;
  border: 1px solid transparent;
  height: 2em;
  width: 2em;
  position: absolute;
  top: 1em;
  left: 0.9em;
  transition: 0.5s 0.5s;
}
.menu .point {
  font-size: large;
  padding: 1em 0.5em;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  background-color: cornflowerblue;
  flex: 1;
  align-content: center;
  border-bottom: 1px solid lightblue;
  background-color: #6495eddd;
  background-color: #b2c6ebdd;
  opacity: 0;
}
.menu .point:hover {
  background-color: #b2c6ebee;
  text-decoration: underline;
  opacity: 0.85 !important;
  box-shadow: 0 0 15px #333 inset;
}
.hamburger:focus + .menu {
  left: 0;
  z-index: 5;
  box-shadow: 0 0 15px gray;
}
.hamburger:focus + .menu .close {
  border: 1px solid lightgray;
}
.hamburger:focus + .menu .point {
  opacity: 1;
}
.hamburger:focus {
  pointer-events: none;
}
.hamburger:focus .line {
  background-color: #555;
}
.hamburger:focus .line:nth-child(even) {
  opacity: 0;
  transition: 0;
}
.hamburger:focus .line:nth-child(1) {
  transform: rotate(45deg);
}
.hamburger:focus .line:nth-child(3) {
  transform: rotate(-45deg);
}
