<div class="hamburger" tabindex="2">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>
<div class="menu">    
    <a class="point" href="/">Home</a>
    <a class="point" href="/pages/slider">Slider</a>
    <a class="point"  href="/pages/preloader">Loader</a>
    <a class="point" href="/graphql-types-generator">
        <img src="/images/logos/github.png" alt="" height="16" width="16"> Types generator
    </a>
    <div class="point">Queries generator</div>
    <!-- <div class="point">Builder</div> -->

    <div class="close"></div>
</div>
<div class="background"></div>

<script>
    document.querySelector('.menu').onclick = (e) => {        
        e.preventDefault();        
        setTimeout(() => document.location = e.target.href, 350)
    }
</script>