<style>
    #search {
        position: fixed;
        top: 60vh;
        width: 100%;
        transition: .5s;
    }

    input {
        margin: auto;
        display: block;
        padding: .3em 1em;
        border-radius: 1em;
        border: 1px solid lightcyan;
        box-shadow: 0 0 15px ghostwhite;
        opacity: .4;
        min-width: 30em;
        outline: none;
        transition: 1s;
        font-size: medium;
        caret-color: #6593bb;
        color: slategray;
    }

    input:hover {
        opacity: .7;
    }

    input:focus {
        opacity: .9;
    }

    /* input::placeholder{
        color: aliceblue;
    } */

    @media screen and (max-width: 640px) {

        #search{
            top: 65vh;
        }

        #search>input {
            min-width: calc(100% - 5em);
            top: 2.3em;
            position: relative;
            left: -.7em;
        }
    }
</style>

<div id="search">
    <!-- <input type="search" placeholder="Start typing repository name you want..." autofocus />
    <div class="repo_list">
        
    </div> -->
</div>